{% extends 'base.html' %}

{% block title %}Recherche {{ query }}{% endblock %}

{% block style %}
<style>
    .recette-container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2%;
    }
    .recette-preview {
        height: 120px;
        flex-shrink: 0;
        aspect-ratio: 1/2;
        clip-path: url(#shaker);
    }
    .shaker {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    @keyframes barberpole {
        0%   { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }

    .ingredient {
        flex: var(--amount);
        bottom: 0; left: 0; right: 0;
        transition: height .6s cubic-bezier(.4,0,.2,1);
        background-size: 200% 200%;
        animation: barberpole 20s linear infinite;
        background-image: repeating-linear-gradient(
                -45deg,
                var(--color1), var(--color1) 1rem,
                var(--color2) 1rem, var(--color2) 2rem
        );
    }
    .one_line {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block script %}{% endblock %}

{% block content %}
<svg width="0" height="0" style="position:absolute" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath id="shaker" clipPathUnits="objectBoundingBox"
                  transform="scale(0.003623, 0.001280)">
            <path d="M225.657 759.002C224.824 766.002 206.057 780.002 137.657 780.002C69.257 780.002 50.4903 766.002 49.657 759.002C49.657 759.002 12.3267 518.502 9.15698 467.502C3.3309 373.761 9.15698 227.002 9.15698 227.002L0.656982 216.002L9.15698 207.002C27.657 191.002 32.157 167.502 35.157 150.502C35.157 139.002 62.157 116.502 75.657 110.002C85.257 102.802 81.9903 95.1682 80.157 92.0015L85.157 22.0015C85.157 11.5016 97.657 4.00159 106.157 3.00159L137.657 0.501587L169.157 3.00159C177.657 4.00159 190.157 11.5016 190.157 22.0015L195.157 92.0015C193.324 95.1682 190.057 102.802 199.657 110.002C213.157 116.502 240.157 139.002 240.157 150.502C243.157 167.502 247.657 191.002 266.157 207.002L274.657 216.002L266.157 227.002C266.157 227.002 271.983 373.761 266.157 467.502C262.987 518.502 225.657 759.002 225.657 759.002Z"/>
        </clipPath>
    </defs>
</svg>
<div class="container">
    {% include 'searchbar.html' %}
    <h2>Résultats pour : {{query}}</h2>
    {% for recette in recettes %}
    <a href="/recette/{{ recette['id'] }}" class="pico-color" style="text-decoration : none">
    <div class="recette-container">
            <div class="recette-preview">
                <div class="shaker">
                    {% for ingredient in recette["ingredients"] %}
                    <div class="ingredient" style="--amount: {{ ingredient["dosage"] }};
                    --color1: {{ ingredient["couleur1"] }};
                    --color2: {{ ingredient["couleur2"] }};">

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="min-width: 0;">
                <h2><strong>{{ recette["nom"] }}</strong></h2>
                {% if recette["alcool"] %}
                    <p>Contient de l'alcool.</p>
                {% endif %}
                <p class="one_line">{{ recette["description"] }}</p>
            </div>
    </div>
    </a>
    <hr>
    {% endfor %}
</div>
{% endblock %}